/*=========================FONTS START=============================*/

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


  /* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family:"Font Awesome 5 Pro";
 font-style:normal;
 font-weight:400;
 font-display:block;
 src: url("../fonts/fa-regular-400.woff2") format("woff2")}
 .far{
   font-family:"Font Awesome 5 Pro";font-weight:400
 }

@font-face {
 font-family: 'Font Awesome 5 Pro';
 font-style: normal;
 font-weight: 900;
 font-display: block;
 src: url("../fonts/fa-solid-900.woff2") format("woff2"); }

.fa,
.fas {
 font-family: 'Font Awesome 5 Pro';
 font-weight: 900; 
}

 @font-face {
   font-family: 'Font Awesome 5 Brands';
   font-style: normal;
   font-weight: 400;
   font-display: block;
   src: url("../fonts/fa-brands-400.woff2") format("woff2"); }
 
 .fab {
   font-family: 'Font Awesome 5 Brands';
   font-weight: 400; 
 }
/*=========================FONTS END=============================*/

/*=========================CSS RESET START=============================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=========================CSS RESET END=============================*/

/*=========================COMMON STYLES START=============================*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --theme-hue: 0;
  --theme-color: #0B1D26;
  --text-color: #ffffff;
  --text-color-gold: #FBD784;
}
body {
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
a,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}
.wide-container{
  max-width: 1760px;
}

h1{
  font-family: 'Playfair Display';
  font-size: 68px;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  margin-bottom: 1px;
  font-weight: 600;
}

h2{
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 64px;
  padding: 27px 0;
  line-height: 1.3;
}
h3{
  padding-bottom: 16px;
  font-size: 24px;
}
.arrow{
  padding-left: 16px;
  font-size: 22px;
}
.rule-span{
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 6px;
}
.hover-opacity:hover{
  opacity: .6;
}
.gold-color{
  color: var(--text-color-gold);
}
/*=========================COMMON STYLES END=============================*/

/*=========================PAGE STYLES START===========================*/
/*=========================HEADER START===========================*/
.header{
  position: relative;
  padding: 48px 120px;
  width: 100%;
}
.main-header{
  position: absolute;
  left: 0;
  top: 0;
}

.fa-cube::before{
  content: "\f1b2";
}
.fa-angle-left::before{
  content: "\f104";
}
.fa-angle-right::after{
  content: "\f105";
}
.logo{
  font-size: 32px;
}
.logo-span{
  text-transform: uppercase;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.nav{
  display: flex;
}
.nav li:nth-child(n+2){
  margin-left: 30px;
}
.nav a{
  padding: 10px;
  transition: .3s;
}
.fa-user-circle:before {
  content: "\f2bd";
}
.user-icon{
  margin: 10px;
  color: #fff;
}
.account-button{
  display: flex;
  align-items: center;
  transition: .3s;
}
/*=========================HEADER END===========================*/

/*=========================HERO START===========================*/
.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero{
  background:  linear-gradient(160deg, #0B1D26, transparent 70%) ,linear-gradient(0deg, #0B1D26, transparent 60%), url('../images/main.webp') no-repeat center / cover, var(--theme-color);
  padding-top: 345px;
  min-height: 1730px;
}
.fa-instagram::before{
  content: "\f16d";
}
.fa-github::before{
  content: "\f09b";
}
.sci{
  display: flex;
  align-items: center;
  transform-origin: 0 100%;
  transform: rotate(90deg) translateX(-50%);
}
.sci a{
  transition: .3s;
}
.sci li:nth-child(n+2){
  margin-left: 30px;
  transform: rotate(-90deg);
}
.follow{
  width: 77px;
}
.fa-long-arrow-down::before{
  content: "\f175";
}
.slider{
  height: 300px;
  width: 1000px;
}
/*=========================HERO END===========================*/

/*=========================MAIN START===========================*/
.main-main{
  margin-top: -200px;
  padding-bottom: 200px;
}
.feature-container .section:nth-child(n+2){
  margin-top: -270px;
}
.bordered{
  border: 5px double var(--text-color-gold);
  padding: 40px 70px;
  margin-top: 20px;
}
.main{
  padding: 20px;
  text-align: center;
}
.section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 200px;
}
.image{
  width: 566px;
  height: 720px;
}
.content{
  position: relative;
  width: 635px;
}
.reverse-section{
  display: flex;
  flex-direction: row-reverse;
}

.fa-horizontal-rule::before{
  content: "\f86c";
}
.content-p{
  line-height: 1.7;
  padding-bottom: 27px;
}
.arrow-button{
  display: flex;
  align-items: center;
  transition: .3s;
}
.fa-long-arrow-alt-right::before{
  content: "\f178";
}
.content::before{
  font-size: 240px;
  opacity: .1;
  position: absolute;
  top: -170px;
  left: -35px;
}
.first-content::before{
  content: "01";
}
.second-content::before{
  content: "02";
}
.third-content::before{
  content: "03";
}
.forth-content::before{
  content: "04";
}
.fifth-content::before{
  content: "05";
}
.sixth-content::before{
  content: "06";
}

/*=========================.TESTIMONIALS START===========================*/
.testimonials{
  padding-top: 30px;
  padding-bottom: 20px;
}
.sections {
  height: 100%;
  display: flex;
}
.sections .comments {
  border: solid 2px #dddddd;
  border-radius: 10px;
  transition: 0.3s;
  padding: 30px;
}
.slides {
  margin-bottom: 80px;
}
.sections .comments:hover {
  border-color: var(--text-color-gold);
}
.fa-star:before {
  content: "\f005";
  color: #fea250;
  width: 16px;
  height: 16px;
}
.name {
  text-align: center;
}
.personal_inf .name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
.location {
  font-size: 14px;
}
.comments_p {
  line-height: 30px;
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.slider-arrow {
  font-size: 30px;
  height: 60px;
  width: 60px;
  color: var(--text-color-gold);
  border: solid 2px var(--text-color-gold);
  border-radius: 999px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.slider-arrow:hover {
  color: #fff;
  background-color: var(--text-color-gold);
}
.slider_bullet {
  display: inline-flex;
  height: 15px;
  width: 15px;
  border-radius: 999px;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}
.slider_bullet:nth-child(n + 2) {
  margin-left: 15px;
}
.slider_bullet_active {
  width: 45px;
  background-color: var(--text-color-gold);
}
.slider-control{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.tes-h2{
  width: 700px;
  text-align: center;
  margin-bottom: 10px;
}
.mc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.personal_inf{
  display: flex;
  align-items: center;
}
.foto{
  margin-right: 20px;
}
/*=========================.TESTIMONIALS END===========================*/
/*=========================MAIN END===========================*/

/*=========================FOOTER START===========================*/
.footer{
  padding-bottom: 132px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-navbar{
  display: flex;
  justify-content: space-between;
  width: 570px;
}
.footer-logo{
  color: var(--text-color-gold);
}
.footer-p{
  width: 303px;
  padding-bottom: 122px;
}
.dropmenu li a{
  padding: 8px 0;
  font-weight: 500;
}
.dropmenu li:hover{
  text-decoration: underline;
}
.footer-logo{
  padding-bottom: 24px;
}
.footer-content{
  position: relative;
  width: 360px;
}
.copyright{
  opacity: .5;
  font-weight: 500;
  position: absolute;
  bottom: 0;
}
.cube{
  margin-right: 10px;
}
/*=========================FOOTER END===========================*/

/*=========================CONTACTS START===========================*/
.contacts-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: normal;
}
.contacts a{
  transition: .3s;
}
.contacts-h2{
  margin-bottom: 80px;
}
.contacts h3{
  font-size: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--text-color-gold);
}
/*=========================CONTACTS END===========================*/

/*=========================PORTFOLIO START===========================*/
.portfolio{
  padding-bottom: 50px;
}
.portfolio-img{
  width: 450px;
  height: 213px;

}
.portfolio-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 20px 0;
  border: 2px solid var(--text-color);
  transition: .3s;
}
.portfolio-item:hover{
  border-color: var(--text-color-gold);
}
.portfolio-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1600px;
}
.portfolio-item h3{
  margin-top: 50px;
  font-size: 30px;
  /* color: var(--text-color-gold); */
}
/*=========================PORTFOLIO END===========================*/


/*=========================PRICING START===========================*/

.pricing-main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1000px;
}
.plans-slide{
  transition: .3s;
  border: 1px solid transparent;
  padding: 20px;
}
.plans-slide:hover, .plans-slide:focus{
  border-color: var(--text-color-gold);
}
/*=========================PRICING END===========================*/

/*=========================PAGE STYLES END===========================*/

/*=========================ADAPTATION START===========================*/

/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .wide-container{
    max-width: auto;
    padding: 0 20px;
  }
  .container{
    padding: 0 40px;
    min-width: auto;
  }
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 55px;
  }
  .image{
    width: 400px;
    height: auto;
  }
  .header{
    padding: 30px 0;
  }
  .hero{
    min-height: 1300px;
  }
  .main{
  margin-top: -150px;
  padding-bottom: 20px;
}
  .content{
    width: 600px;
  }
  .footer{
    padding-bottom: 150px;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  body{
    font-size: 16px;
  }
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 40px;
  }
  .hero{
    min-height: 1100px;
  }
  .main{
    margin-top: -100px;
    padding-bottom: 20px;
  }
  .image{
    width: 300px;
    height: auto;
  }
  .footer-navbar{
    width: 440px;
  }
  h3{
    font-size: 20px;
  }
  .content{
    width: 546px;
  }
  .follow{
    width: 70px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 40px;
    width: 360px;
    padding: 15px 0;
  }
  .hero{
    padding: 220px 0;
    min-height: 900px;
  }
  .content{
    width: 331px;
  }
  .content::before{
    font-size: 180px;
    top: -125px;
  }
  .main{
    margin-top: -60px;
    padding-bottom: 20px;
  }
  .section{
    padding-bottom: 140px;
  }
  .footer-navbar{
    width: 350px;
  }
  .slider{
    height: 210px;
  }
  .rule-span{
    letter-spacing: 4px;
  }
  .content-p{
    padding-bottom: 15px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body{
    font-size: 12px;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 28px;
    width: 277px;
    padding: 15px 0;
  }
  h3{
    font-size: 17px;
  }
  .content{
    width: 244px;
  }
  .image{
    width: 205px;
  }
  .rule-span{
    letter-spacing: 3px;
  }
  .hero{
    min-height: 600px;
  }
  .main{
    margin-top: -30px;
  }
  .nav li:nth-child(n+2){
    margin-left: 10px;
  }
  .footer-content{
    position: static;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
  }
  .footer-container{
    flex-wrap: wrap;
    position: relative;
  }
  .footer-navbar{
    width: 80%;
  }
  .copyright{
    bottom: -40px;
  }
  .footer-p{
    padding-bottom: 30px;
  }
  .footer{
    padding-bottom: 90px;
  }
  .section{
    padding-bottom: 120px;
  }
  .sci li:nth-child(n+2){
    margin-left: 20px;
  }
  .follow{
    width: 51px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) and (min-width: 320px) {
  h1{
    font-size: 25px;
    }
    .sci{
      transform: rotate(90deg) translateX(-80%);
    }
    .hero-container .slider{
      margin-left: -15%;
    }
  .logo{
    font-size: 20px;
  }
  .nav li:nth-child(n+2){
    margin-left: 0;
  }
  .nav li{
    font-weight: 500;
  }
  /* .image{
    display: none;
  } */
  .section{
    flex-wrap: wrap;
    justify-content: center;
  }
  .content{
    padding-bottom: 40px;
  }
  .footer-container{
    padding: 0 15px;
  }
  .footer-navbar{
    width: 100%;
  }
  .wide-container{
    padding: 0 15px;
  }
  .account-button{
    font-size: 15px;
  }
  .hero{
    padding: 200px 0;
    min-height: 200px;
  }
  .arrow{
    font-size: 12px;
    padding-left: 8px;
  }
  .account-span{
    display: none;
  }
}

/*=========================ADAPTATION END===========================*/